.footer {
    background: radial-gradient(circle, rgba(229, 229, 229, 1) 0%, rgba(255, 255, 255, 1) 100%);
    color: #272D4E;
    width: 100%;

    .instagram:hover {
        color: red;
    }

    .facebook:hover {
        color: blue;
    }

    .twitter:hover {
        color: lightblue;
    }

    img {
        float: right;
    }
}

.footer_register {
    background-color: #7854F7;
    color: #fff;
    display: flex;
    justify-content: center;
    padding: 60px;
    font-size: 22px;

    .footer_btn {
        background-color: #7854F7;
        color: #fff;
        border-style: solid;
        border-color: white;
        border-radius: 6px;
        cursor: pointer;
        padding: 5px;
        margin: 10px;
    }
}

.footer_container {
    display: flex;
    justify-content: space-evenly;
    padding: 30px;
    font-size: 12px;

    span {
        text-decoration: underline;
    }

    a {
        font-size: 20px;
        margin: 5px;
    }

    i {
        padding-left: 20px;
    }
}