* {
    padding: 0px 5px;
    font-family: 'Roboto', sans-serif;
    background-color: radial-gradient(circle, rgba(229, 229, 229, 1) 0%, rgba(255, 255, 255, 1) 100%);

    a {
        text-decoration: none;
    }
}

.navbar {
    width: 100%;
    height: 60px;
    position: sticky;
    display: flex;
    list-style: none;
    align-items: center;

    a {
        text-decoration: none;
        color: #272D4E;
    }

    ul {
        display: flex;
        justify-content: center;
    }

    li {
        padding-left: 10px;
        list-style: none;
    }

    .navbar_btn {
        border: none;
        border-radius: 6px;
        background-color: #7854F7;
        color: #fff;
        cursor: pointer;
        margin: 10px;
        padding: 5px;
    }

    .navbar_btn_log {
        border: none;
        border-radius: 6px;
        color: #7854F7;
        cursor: pointer;
        padding: 5px;
    }
}

.navbar_li {
    flex: 5;
}