.register {
    background-image: linear-gradient(#fff, #ECF0FD, #fff);
    padding-bottom: 20vh;

    h1 {
        text-align: center;
        padding-top: 20vh;
        font-size: 35px;
        width: 20vw;
        margin: 0 auto;
    }

    .form_container {
        background-color: white;
        width: 40vw;
        align-items: center;
        margin: 5vh auto;
        padding: 5vh 5vw;
        box-shadow: 10px 20px 15px silver;
        border-radius: 20px;

        h2 {
            font-size: 25px;
            text-align: center;
            padding-bottom: 5vh;
        }

        .form {
            padding-bottom: 20px;

            input[type=text],
            input[type=password] {
                border: 1px solid silver;
                border-radius: 4px;
                padding: 1vh 1vw;
                width: 30vw;
                font-size: 16px;
                font-weight: 300;
            }
        }
    }

    img {
        position: absolute;
    }
}

input[type=submit]:hover {
    background-color: #ffb949c5;
}

.registerbtn_red {
    background-color: #EF4358;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 30vw;
    padding: 1vh 0;
    font-size: 16px;
    font-weight: 300;
}

.registerbtn_blue {
    background-color: #0E65F3;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 30vw;
    padding: 1vh 0;
    font-size: 16px;
    font-weight: 300;
}

.popUp {
    background-color: white;
    width: 40vw;
    align-items: center;
    margin: 5vh auto 25vh auto;
    padding: 5vh 5vw;
    box-shadow: 10px 20px 15px silver;
    border-radius: 20px;

    p {
        text-align: center;
        font-size: 16px;
        padding-bottom: 5vh;
    }
}

.elipse1 {
    top: 15vh;
    left: 18vw;
    z-index: 6;
}

.elipse7 {
    top: 16vh;
    left: 16vw;
    z-index: 5;
}

.elipse3 {
    top: 45vh;
    left: 5vw;
    z-index: 6;
}

.elipse9 {
    top: 46vh;
    left: 3vw;
    z-index: 5;
}

.elipse2 {
    top: 70vh;
    left: 12vw;
    z-index: 6;
}

.elipse8 {
    top: 71vh;
    left: 10vw;
    z-index: 5;
}

.elipse5 {
    top: 15vh;
    right: 18vw;
    z-index: 6;
}

.elipse11 {
    top: 16vh;
    right: 20vw;
    z-index: 5;
}

.elipse4 {
    top: 50vh;
    right: 5vw;
    z-index: 6;
}

.elipse10 {
    top: 54.5vh;
    right: 7.5vw;
    z-index: 5;
}

.elipse6 {
    top: 80vh;
    right: 20vw;
    z-index: 6;
}

.elipse12 {
    top: 81vh;
    right: 20vw;
    z-index: 5;
}

.dot_grid_greendots {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 2.5vw;
    position: absolute;
    top: 65vh;
    left: 23.5vw;
    z-index: 1;

    .one_dot_green {
        width: 5px;
        height: 5px;
        border-radius: 50%;
        background-color: #70C217;
    }
}

.dot_grid_twelvereddots {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2.5vw;
    position: absolute;
    top: 45vh;
    right: 25vw;
    z-index: 1;
}