.searchbar {
    width: 100%;
}

.input_search {
    outline: none;
    border: none;
    background-image: radial-gradient(circle, #7854f7, #9b80fd, #bcabff, #ddd5ff, #ffffff);
    margin: 20px;
    padding: 10px;
    width: 20%;
}

.btn_search {
    cursor: pointer;
    background-color: #7854F7;
    color: #fff;
    border: none;
    padding: 10px;
    border-radius: 6px;
    margin: 20px;
}

::placeholder {
    color: white;
    opacity: 1;
}