.form_setP {
    display: grid;
    grid-template-columns: repeat(6, 1fr, 1fr);
    margin: 100px;

    input[type=text] {
        background-color: #F0EBFD;
        border: none;
        padding: 20px;
    }
}