.sidebar {
    height: 100%;
    width: 220px;
    position: fixed;
    z-index: 1;
    overflow-x: hidden;
    top: 0;
    left: 0;
    background: radial-gradient(circle, rgba(229, 229, 229, 1) 0%, rgba(255, 255, 255, 1) 100%);
}

.sidebar_category {
    display: grid;
    grid-template-columns: auto auto;
}

.sidebar_checkbox,
.sidebar_rating {
    display: grid;
    grid-template-columns: auto auto;
}


.sidebar_btn {
    border: none;
    border-radius: 6px;
    background-color: #7854F7;
    color: #fff;
    cursor: pointer;
    margin: 10px;
    padding: 5px;
}

.sidebar_btn_reset {
    border-style: solid;
    border-color: #7854F7;
    border-radius: 6px;
    background-color: white;
    color: #7854F7;
    cursor: pointer;
    margin: 10px;
    padding: 5px;
}