.sidebar {
    width: 18vw;
    position: fixed;
    top: 10vh;
    padding: 5vh 0 0 3vw;
}

.sidebar h3 {
    padding-bottom: 1vh;
}

.sidebar_category,
.sidebar_rating,
.sidebar_condition,
.sidebar_delivery {
    padding-bottom: 3vh;
}

.sidebar_buttons {
    padding-top: 3vh;
}

.sidebar div label {
    padding-left: 1vw;
}