.sidebar {

    width: 200px;
    padding-left: 50px;
    top: 0;
    left: 0;
    background: yellow;

    .sidebar_category {
        display: grid;
        grid-template-columns: auto auto;
    }

    .sidebar_checkbox,
    .sidebar_rating {
        display: grid;
        grid-template-columns: auto auto;
    }
}




.sidebar_btn {
    border: none;
    border-radius: 6px;
    background-color: #7854F7;
    color: #fff;
    cursor: pointer;
    margin: 10px;
    padding: 5px;
}

.sidebar_btn_reset {
    border-style: solid;
    border-color: #7854F7;
    border-radius: 6px;
    background-color: white;
    color: #7854F7;
    cursor: pointer;
    margin: 10px;
    padding: 5px;
}