.home_container {
    color: #272D4E;
    background-image: url("../images/home_workers_on_ricefield.jpg");
    background-repeat: no-repeat;
    background-position: right;
    height: 100vh;
    background-size: 40%;


    h1 {
        font-size: 50px;
        font-weight: bold;
        text-align: left;
        padding-right: 750px;
        padding-bottom: 20px;
        margin-left: 150px;
        margin-top: 150px;
    }

    p {
        padding-right: 550px;
        text-align: left;
        margin-left: 150px;
    }

    button {
        border: none;
        border-radius: 6px;
        background-color: #7854F7;
        color: #fff;
        cursor: pointer;
        padding: 15px 35px;
        margin-top: 40px;
        margin-right: 1000px;
    }

    button:hover {
        background-color: #7754f7b1;
    }
}

.home_image {
    background-image: url("../images/home_section_lebe_ecommerce.jpg");
    height: calc(100vh - 50px);
    background-size: cover;
    background-position: cover;
}

.home_image_two {
    background-image: url("../images/people1234.png");
    height: calc(150vh - 50px);
    background-size: cover;
    background-position: cover;



    .home_details_two {
        p {
            padding-top: 550px;
            padding-right: 100px;
            margin: 0px 500px;
            color: white;
            text-align: left;


        }
    }
}

.home_image_three {
    background-image: url("../images/home_people.png");
    height: calc(55vh - 50px);
    background-size: cover;
    background-position: cover;
}


.btnbtn {
    background-color: #FFBA49;
    color: white;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    padding: 10px;
}

.btnbtn:hover {
    background-color: #ffb949c5;
}

.home {
    img {
        float: right;
        width: 550px;
        height: 750px;
    }
}