.marketplace {
    text-align: center;

    h1 {
        font-size: 50px;
        margin: 0px 400px;
        padding: 90px;
    }

    p {
        margin: 0px 250px;
        padding-bottom: 50px;
    }
}