.detail_container_u {
    display: flex;
    flex-direction: column;
    background: linear-gradient(#e5efff, #fff, #fff, #fff);
    padding-bottom: 10%;

    //   margin: 10%;
    .product_details_u {
        display: flex;
        justify-content: space-between;
        padding: 10% 20% 5% 10%;

        img {
            width: 40%;
            object-fit: cover;
            object-position: center;
        }

        .product_facts_u {
            display: flex;
            width: 40%;
            flex-direction: column;
            justify-content: space-between;

            .facts_grid_u {
                display: grid;
                grid-template-columns: 1fr 1fr;
                grid-template-rows: 1fr 1fr 1fr;
                gap: 10px;
            }
        }
    }
}

.btn_edit,
.btn_sold,
.btn_delete {
    border: 1px solid #7854f7;
    color: #7854f7;
    border-radius: 5px;
    background-color: #fff;
    cursor: pointer;
    padding: 1vh 1vw;
    margin: 0 0.2%;
}

.btn_edit:hover,
.btn_sold:hover,
.btn_delete:hover {
    color: #fff;
    background-color: #7854f7;
}

.buttons {
    padding-left: 10%;
}

.btn_wish_u {
    border: none;
    border-radius: 5px;
    background-color: #f5f5f5;
    width: 12vw;
    padding: 1vh 0;
    font-size: 16px;
}